@import '../../index.css';
ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    gap: 5em;
    align-items: center;
}
.navBar__link {
    padding: 10px;
    width: 5em;
    border-radius: 15px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--bg);
    font-weight: 600;
    text-align: center;
    height: min-content;
}

.navBar__link:hover {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
        0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    transform: scale(1.0775);
}
.navBar__link:active {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
        0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    transform: scale(1.0375);
}

@media (max-width: 640px) {
    ul {
        flex-direction: column;
        gap: 3px;
    }
    .navBar__link {
        width: 90%;
    }
}
